{% extends 'base_login.html' %}

<!-- Carga en la plantilla base el Formulario -->

{% block reporte%}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
{# One-time system messages called Flash messages #}
{%- with messages = get_flashed_messages(with_categories=true) -%}
{% if messages %}
{% for category, message in messages %}
{% if category=='error' %}
{% set category='danger' %}
{% endif %}
<div class="alert alert-{{category}}">{{ message|safe }}</div>
{% endfor %}
{% endif %}
{%- endwith %}
<div class="col-md-4 offset-4">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <div>
            {{ form.email.label }}
            {{ form.email }}<br>
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password }}<br>
        </div>
        <!-- <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div> -->

        <center>
            <div style="margin-bottom: 1rem;">
                {# Submit button #}
                {{ render_submit_field(form.submit, tabindex=180) }}
            </div>
            <a href="{{ url_for('user.forgot_password') }}" tabindex="195">
                Olvidaste tu contraseña?</a>

        </center>
    </form>
</div>
{% endblock %}